<section class="articles">
	<article class="article-single">
		<img src="http://placeimg.com/790/600/nature" alt="">
		<div class="article-content-wrapper">
			<h2 class="article-hd">Article Title</h2>
			<span class="article-author"><strong>Author, </strong><span class="article-author-title">C.E.O.</span></span>
		</div>
	</article>

	<article class="article-single">
		<img src="http://placeimg.com/790/600/people" alt="">
		<div class="article-content-wrapper">
			<h2 class="article-hd">Article Title</h2>
			<span class="article-author"><strong>Author, </strong><span class="article-author-title">C.E.O.</span></span>
		</div>
	</article>

	<article class="article-single">
		<img src="http://placeimg.com/790/600/tech" alt="">
		<div class="article-content-wrapper">
			<h2 class="article-hd">Article Title</h2>
			<span class="article-author"><strong>Author, </strong><span class="article-author-title">C.E.O.</span></span>
		</div>
	</article>
</section>