<section class="cta">
	<span class="btn primary-btn">Lorem Ipsum</span>
	<span class="btn secondary-btn">Lorem Ipsum</span>
	<span class="cta-text">or call <address>555.555.5555</address></span>
</section>