<header class="global-header">
	<div class="search-container">Search</div>

	<div class="site-logo">
		<img src="http://placehold.it/290x70" alt="">
	</div>

	<nav class="site-nav">Menu</nav>
</header>