<section class="mantle image quote">
	<img src="http://placeimg.com/900/475/tech" alt="">
	<div class="mantle-content">
		<div class="mantle-content-wrapper">
			<blockquote class="mantle-quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <strong>ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></blockquote>
			<span class="source"><strong>Author,</strong><span class="small">C.E.O.</span></span>
		</div>
	</div>
</section>