<section class="mantle image">
	<img src="http://placeimg.com/800/475/people" alt="">
	<div class="mantle-content">
		<div class="mantle-content-wrapper">
			<h1 class="mantle-hd">Lorem ipsum <span class="strong">dolor</span></h1>
			<span class="btn primary-btn">Lorem Ipsum</span>
		</div>
		<div class="caption bottom-left"><span class="strong">Caption Title,</span>subtitle</div>
	</div>
</section>